body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(144, 179, 255) 0%, rgb(73, 219, 187) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxmodel {
  display: inline-block;
  border-bottom: 4px dashed rgb(225, 65, 145) ;
  margin-top: 2%;
  font-size: 500%;
  font-family: 'WaltographRegular';
  font-weight: normal; 
  font-style: normal;
  color: rgb(225, 65, 145) ;
}